body {
	margin: auto;

}
.body-section-center{
 max-width: calc( 100% - 50px );
 margin: auto;
}
ul.a {
  list-style-type: disc;
  padding: 15px;
}
.single-blog{
    padding: 10px!important;
}
.logo-adjusted {
    position: fixed;
    left: 0px;
    top: 0;
    height: 150px;
    width: 140px;

}
.logo-adjusted>a>img {
	    height: 100%;
	    width: 100%;

}
.default-header{
	box-shadow: none;
	background-color: transparent;
}

.banner-area .fullscreen{
	height: auto !important;
}

.logo {
	min-height: 80px;
}

.main-menubar .main-menubar-extended a,
.main-menubar  .lnr
{
	      background-color: #ffffffba;
    padding: 8px 5px !important;
    border-radius:50px;
    color: #252525;
    text-shadow: 0px 0px 0px #efefef;
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ffffffba;
    display: inline-block;

    }
    .main-menubar-extended {
    margin-right: 0px;
   }

.main-menubar .main-menubar-extended  a:hover {
	     background-color: #ffffff;
    /* font-size: 15px; */
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 12px!important;
    padding-right: 12px!important;
    padding-top: 12px!important;
    padding-bottom: 12px!important;
    text-shadow: 0px 1px 0px #000000;
    border: 1px solid #00000066;
    border-radius: 50px;
}
.main-menubar  .lnr {
	font-size: 25px;
	border-radius: 10px;
	border: none;

    
}

.main-menubar .menu-bar :hover, 
.main-menubar .menu-bar .lnr-cross{
      background-color: #ffffff;
    border-radius: 10px;
  
}


.img-center-wrap{
	text-align: center;
}


.banner-header {
    background: -webkit-linear-gradient(270deg, #044d53 10%, #72f4ff 100%)!important;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important;
}
 .p1-gradient-bg, .primary-btn, .primary-btn:after, .primary-btn2:after, .single-con .content .content-overlay,  .single-footer-widget .bb-btn {
    
    background-image: -webkit-linear-gradient(0deg, #044d53 0%, #67e4ee 100%);
}
.p1-gradient-color, .banner-content h1, .single-fact h2, .single-footer-widget h3 {
    background: -moz-linear-gradient(0deg, #2380ff 0%, #52fdd9 100%);
    background: -webkit-linear-gradient(0deg, #044d53 0%, #67e4ee 100%);
    background: -ms-linear-gradient(0deg, #2380ff 0%, #52fdd9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.col-lg-41  {
        padding-left: 0px;
        max-width: none;
     flex: 0 0 33.33333%;
                
            }
 .col-lg-21 {
    padding-left: 0px;
    flex: 0 0 16.66667%;
    max-width: none;

 }
 .col-lg-61{
    padding-left: 0px;
        flex: 0 0 50%;
        max-width: none;


 } 
 .col-lg-81{
    padding-left: 0px;
    max-width: none;
        flex: 0 0 66.66667%;
            max-width: 66.66667%;

 }
 .col-1,.col-lg-81,.col-lg-61.col-lg-41,.col-lg-21, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  ;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
}
   .mb-20 {
    margin-bottom: 75px;
    margin-left: 60px;
}

.footer-area {
    background-image: linear-gradient(white, #b9b9b9);
    background-color: none;
    padding-top: 20px;
    padding-bottom: 20px;
}
h6 {
    color: #5f5f5f;
    
    }

.footer-social a {
    background: transparent;
    padding: 18px 15px 10px 15px;
    color: white;
    
}
.footer-area .footer-nav li a {
    color:#636363;
    }
.footer-area .footer-nav li a:hover {
    color: #074146;
    }
.footer-social i {
    color: #40686b;
    font-size:25px;
}
p {
    color: #636363;
}

#facebook:hover {
    background-image: -webkit-linear-gradient(0deg, #4267B2 0%, #4267B2 100%);
}
#twitter:hover {
    background-image: -webkit-linear-gradient(0deg, #1DA1F2 0%, #1DA1F2 100%);
}
#instagram:hover {
    background-image: linear-gradient( #405DE6,#833AB4,#E1306C,#F56040,#FCAF45);
}
#youtube:hover {
    background-image: -webkit-linear-gradient(0deg, #FF0000 0%, #FF0000 100%);
}
#linkedin:hover {
    background-image: -webkit-linear-gradient(0deg, #2867B2 0%, #2867B2 100%);
}
.blog-area h1 {
    text-align: center;
    margin-bottom: 0px;
    font-weight: 1000;
    text-transform: uppercase;
    font-size: 45px;
    padding-bottom: 0px;
    font-family: "Audiowide", sans-serif;
        color: #044d53;
}
.pb-30 {
    padding-bottom: 0px;
}
.row {
    
    margin-bottom: 15px;
    }

   .back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

#appoinment {
    height: 400px;
    transition: height .6s;
}
#appoinment.appoinment-hide {
    height: 0px;
  overflow: hidden;
}

