<div class="single-blog col-lg-4 col-md-4 {% if post.star %}star{% endif %}">
    <div class="img-center-wrap">
        <img class="f-img img-fluid mx-auto" src="{{ page.image }}" alt="">
   </div>
    <h4>
        <a href="{{ site.url }}{{ post.url }}"">
            <aside class="date" style="display: none;"><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
            {{ post.title }}
        </a>
    </h4>
    {% if page.summary %}
    <p style="margin-bottom: auto;" >
        {% if page.summary %}{{ page.summary }}{% else %}{{ site.summary }}{% endif %}
    </p> 
    {% endif %}
    
    {% if page.bullets %}
    <ul class="a" >
        {% for bullet in page.bullets %}
        <li> <a href="{{ site.url }}{{ post.url }}#{{ bullet | slugify }}">{{ bullet }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    <!-- <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
        <div>
            <img class="img-fluid" src="img/user.png" alt="">
            <a href="#"><span>Mark Wiens</span></a>
        </div>
        <div class="meta">
            13th Dec
            <span class="lnr lnr-heart"></span> 15
            <span class="lnr lnr-bubble"></span> 04
        </div>
    </div> -->
</div>