---
layout: compress
title: Blog
---

<div class="row">
	{% if paginator.previous_page %}
		<button class="prev" 
			qkr-action="my_blog_teaser_prev" data-prev="{{ paginator.previous_page_path }}">Previous</button>
	{% else %}
		<button class="prev">Previous</button>
	{% endif %}

	{% if site.posts.size == 0 %}
		<p class="text-center">Nothing published yet!</p>
	{% elsif site.paginate %}
		{% for post in paginator.posts %}
			{% if post.category == 'blog' %}
				{% if post.hidden != true %}
					{% include blog-post.html %}
				{% endif %}
			{% endif %}
		{% endfor %}

		{% include pagination.html%}
	{% else %}
		{% for post in site.posts %}
			{% if post.category == 'blog' %}
				{% if post.hidden != true %}
					{% include blog-post.html %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}

	{% if paginator.next_page %}
		<button class="next"
			qkr-action="my_blog_teaser_prev" data-next="{{ paginator.next_page_path }}" class="next">>Next</button>
  	{% else %}
    	<button class="next">Next</button>
  	{% endif %}


</div>